/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #header
 {
   padding: 10px;
   background-color: lightgray;
   border:1px solid black
 }

 #options a:hover
 {
   color: #fff;
   background-color:#000;
 }

 #options a:visited 
 {
   color:#666
}

 table.blueTable {
   border: 1px solid #1C6EA4;
   background-color: #EEEEEE;
   width: 100%;
   text-align: left;
   border-collapse:collapse
}

table.blueTable td, table.blueTable th {
   border: 1px solid #AAAAAA;
   padding:3px 2px
}

table.blueTable tbody td {
   font-size:13px
}

table.blueTable thead tr th
{
   background: #EEEEEE;
}

table.blueTable tr:nth-child(odd) {
   background:#D0E4F5
}

.location-table {
   margin: 10px;
   padding: 10px
}

.appointment-table {
   margin: 10px;
   padding: 10px
}

table.blueTable td, table.blueTable th {
   border: 1px solid #AAAAAA;
   padding:3px 2px
}

